name: 'BoGL'
scopeName: 'source.bgl'
fileTypes: ['bgl','bglp']
fileLineRegex: 'game'
type: 'tree-sitter'
parser: 'tree-sitter-bogl'

scopes:
  'game_def > upperIdentifier': 'bogl.gameName',

  '''
  gen_type_def > upperIdentifier,
  btype > upperIdentifier,
  ''': 'bogl.type',

  'app > identifier': 'bogl.eqIdentifier',

  '''
  etype > upperIdentifier,
  aexpr > upperIdentifier
  ''': 'bogl.value',

  'comment': 'bogl.comment',

  'identifier': 'bogl.identifier'

  'binop': 'bogl.binop'

  'number': 'bogl.value'

  '''
  "True",
  "False"
  ''': 'bogl.value'

  '''
  signature > identifier,
  equation > identifier,
  board_eq > identifier
  ''': 'bogl.eqIdentifier'

  '''
  "Int",
  "Bool",
  "Input",
  "Board",
  "Array",
  "Content",
  "Player"
  ''' : 'bogl.type'

  '''
  "game",
  "type",
  "of",
  "let",
  "in",
  "if",
  "then",
  "else",
  "while",
  "do"
  ''': 'bogl.keyword'

folds: [
  {
    type: 'comment'
  }

  {
    type: 'value_def'
  }
]

comments:
  start: '{- '
  end: ' -}'
